body{
  /*background-color: #d7d2cb;*/
  /*background-color: #f2f6f9;*/
  background: #f2f6f9 url("moon.jpg") no-repeat fixed center;
  background-size: cover;
  color: black;
}

.definition{
  margin-bottom: 20px;
}

.headers{
  color: black;
}
.headers:hover{
  color: black;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.divider2{
  border-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}