body{
  background: #f2f6f9 url("leaves.jpeg") no-repeat fixed center;
  background-size: cover;
  color: black;
}
.horizontal-center{
  margin: 0 auto;
}
.vertical-center{
  margin: auto 0;
}
.definition-nav{
  padding: 30px;
  margin-bottom: 20px;
  opacity: .85;
  background-color: lightgrey;
  border-radius: 10px;
}
.headers{
  color: black;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: black;
  color: white;
}
.team-info{
  color: white;
}
#edit-email-container{
  background-color: lightgrey;
  opacity: .8;
  margin-top: 20px;
  border-radius: 10px;
  min-width: 3px;
}
#edit-email-button{
  width: 200px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  color: white;
  border-style: none;
}
#edit-email-button:hover{
  background-color: white;
  color: black;
}
#edit-email-form{
}

/*ARTICLES
-----------------------------
*/
/*.articles-main{
}*/
.subtopic-hide{
  display: none;
  font-size: 70%;
}
.subtopic-hide a{
  color: lightgrey;
}
.articles-title{
  color: white;
  text-align: center;
  font-size: 40px;
  /*background-color: orange;*/
}
.article-row{
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.article-height-small{
  min-height: 120px;
  background-color: lightgrey;
  border-radius: 10px;
  opacity: .85;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.article-height-medium{
  min-height: 180px;
  background-color: darkgrey;
  border-radius: 10px;
  opacity: .85;
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.article-height-tall{
  min-height: 220px;
  background-color: white;
  border-radius: 10px;
  opacity: .85;
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.article-col:hover {
  background-color: black;
  color: white;
}
.article-col:hover a{
  color: white;
}
.article-row .article-col a:hover{
  color: white;
}

#master-faster-footer{
  color: white;
}
#master-faster-footer a{
  color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.divider2{
  border-color: lightgrey;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}