{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'masterfaster/masterfaster.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block content %}

<div class="container col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" id="edit-email-container">
    <div class='horizontal-center'>
        <form class="form-signin" method="post" action="{% url 'masterfaster:password_change' %}">
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="nav nav-tabs horizontal-center">
                    <li role="presentation"><a href="{% url 'masterfaster:editEmailAddress' %}">Edit Email</a></li>
                    <li role="presentation" class="active" ><a href="{% url 'masterfaster:password_change' %}">Change Password</a></li>
                </ul>
                <br>
                {% csrf_token %}
                {% if errors %}
                    <div class="container col-xs-10 col-xs-offset-1">
                        <div>Errors:</div>
                            <ul>
                            {% for err in errors %}
                                <li>err</li>
                            {% endfor %}
                            </ul>
                    </div>
                {% endif %}
                <table>
                    <tr>
                        <th><label for="id_old_password">Old password:</label></th>
                        <td class="edit-form-input">{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <th><label for="id_new_password1">New password:</label></th>
                        <td class="edit-form-input"> {{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <th><label for="id_new_password2">New password confirmation:</label></th>
                        <td class="edit-form-input"> {{ form.new_password2 }}</td>
                    </tr>
                </table>
                <span class="helptext">
                    <ul>
                        <li>Your password can&#39;t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can&#39;t be a commonly used password.</li>
                        <li>Your password can&#39;t be entirely numeric.</li>
                    </ul>
                </span>
                <button class="btn btn-lg btn-primary btn-block horizontal-center" id="edit-password-button" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}


