{% extends 'sales/shopbase.html' %}

{% load static %}


{% block shopcontent %}
<div class="col-md-9">
	{% if quantity == 1 %}
		<h1>{{quantity}} {{product_name}} has successfully been added to your shopping cart.</h1>
	{% else %}
		<h1>{{quantity}} {{product_name}}'s have successfully been added to your shopping cart.</h1>
	{% endif %}
		<div class="row">
			<a href="{% url 'sales:home' %}" class="btn btn-lg btn-primary btn-block confirmation-button">Continue Shopping</a>
			<a href="{% url 'sales:checkout' %}" class="btn btn-lg btn-primary btn-block confirmation-button">Checkout</a>
		</div>
</div>


{% endblock shopcontent %}