{% extends 'sales/shopbase.html' %}

{% load static %}


{% block content %}
<div class="col-md-9">
	{% if add %}
		{% if quantity == 1 %}
		<h1>{{quantity}} {{product_name}} has successfully been added to your shopping cart.</h1>
		{% else %}
		<h1>{{quantity}} {{product_name}}'s have successfully been added to your shopping cart.</h1>
		{% endif %}
		<div class="row">
			<a href="{% url 'sales:home' %}" class="btn btn-lg btn-primary btn-block confirmation-button">Continue Shopping</a>
			<a href="{% url 'sales:checkout' %}" class="btn btn-lg btn-primary btn-block confirmation-button">Checkout</a>
		</div>
	{% else %}
		<div class="row">
			<h1>Your card has successfully been charged {{amount}}.</h1>
			<h3>Confirmation number: {{conf_num}}.</h3>
			</hr>
			<table>
				<tr>
					<th class='conf-lst'>Item</th>
					<th class='conf-lst'>Size</th> 
					<th class='conf-lst'>Quantity</th>
				</tr>

				{% for k,v in purchases.items %}
				<tr>
					<td class='conf-lst'>{{k.0}}</td>
					<td class='conf-lst'>{{v.size}}</td> 
					<td class='conf-lst'>{{v.quantity}}</td>
				</tr>
				{% endfor %}

			</table>
			<a href="{% url 'sales:home' %}" class="btn btn-lg btn-primary btn-block confirmation-button">Continue Shopping</a>
		</div>
	{% endif %}
</div>


{% endblock content %}