{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'sales/shoppingcart.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block content %}	



<div class="container">
    {% if edit_billing %}
        <form class="form-signin" method="post" action="{% url 'sales:editAddresses' billing_bool %}">
    {% else %}
    	<form class="form-signin" method="post" action="{% url 'sales:editAddresses' shipping_bool %}">
    {% endif %}
    {% csrf_token %}
    <ul class="nav nav-tabs">
        {% if edit_billing %}
          	<li role="presentation" class="active"><a href="{% url 'sales:editAddresses' billing_bool%}">Edit Billing Address</a></li>
          	<li role="presentation"><a href="{% url 'sales:editAddresses' shipping_bool%}">Edit Shipping Address</a></li>
        {% else %}
            <li role="presentation"><a href="{% url 'sales:editAddresses' billing_bool%}">Edit Billing Address</a></li>
            <li role="presentation" class="active"><a href="{% url 'sales:editAddresses' shipping_bool%}">Edit Shipping Address</a></li>
        {% endif %}
    </ul>
    <br>
	{% if edit_billing %}
		<h3 class="form-signin-heading">Billing Address:</h3>
	{% else %}
		<h3 class="form-signin-heading">Shipping Address:</h3>
	{% endif %}
	<table>
		{{address_form.as_table}}
	</table>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
  </form>
</div>



{% if both_addresses %}
	<hr>
	<script src="https://checkout.stripe.com/checkout.js"></script>

	<a href="{% url 'sales:home' %}" id="customButton" class="btn btn-lg btn-primary btn-block confirmation-button horizontal-center">Proceed with Charge</a>

	<script>
		var handler = StripeCheckout.configure({
			key: "{{stripe_api_key}}",
			image: "{% static 'sales/images/default.jpg' %}",
			locale: 'auto',
			token: function(token) {
			    $.ajax({
				    url: "{% url 'sales:charge' amount %}",
				    type: 'POST',
				    data: {'stripeToken': token.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
				    success: function(s) {
						console.log( "SUCCESS" );
						window.location.href = "{% url 'sales:chargeConfirmation' amount%}";
				    },
				    error: function(e){
				      console.log( "ERROR" );
				    }
				  });
			}
		});

		document.getElementById('customButton').addEventListener('click', function(e) {
		  handler.open({
		    name: 'Master Faster',
		    description: '2 widgets',
		    amount: {{amount}}
		  });
		  e.preventDefault();
		});

		// Close Checkout on page navigation:
		window.addEventListener('popstate', function() {
		  handler.close();
		});
	</script>
{% endif %}

{% endblock content %}
