{% extends 'sales/shopbase.html' %}

{% load static %}


{% block shopcontent %}
<div class="col-md-9">

    {% if product_list %}

        {% for product in product_list %}
            {% if forloop.counter0|divisibleby:3 %}
            </div>
            <div class='row'>
            {% endif %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail feed-box">
                    <img class='item' src="{% static product.img_path %}" alt="" width='200' height="150">
                    <div class="caption">
                        <div class="row product-header">
                            <a href="{% url 'sales:itemDetail' product.id %}">{{product.name}}</a> | {{product.price}}
                        </div>
                        <p class="feed-description">{{product.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not forloop.counter0|divisibleby:3 %}
        </div>
    {% endif %}

    {% else %}

    <h1>There are no products for sale.</h1>

    {% endif %}

</div>

{% endblock shopcontent %}