{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'sales/shop.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block content %}		
		<!-- <div class="container"> -->
			<!-- <div class="container col-md-8 col-md-offset-2 col-sm-12 text-left"> -->
				<!-- <ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>SIZE</span>
						<span>Price</span>
					</li> -->
				<div class="container cart-content">
					{% for item in items %}
					<div class="cart-item col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="row cart-header">
							<span class='cart-item-img'>
								<img src="{% static item.product.img_path %}" alt="" width='100'>
							</span>
							<span class='cart-item-name'>
								<strong><a href="{% url 'sales:itemDetail' item.product.id %}">{{item.product.name}}</a> | ${{item.product.price}}</strong>
							</span>
						</div>
						<p class="cart-description">{{item.product.description}}</p>
						<div class="cart-description"> <strong>Size: {{item.cartItem.size}} Quantity: {{item.cartItem.quantity}}</strong></div>
						<div class="row edit-buttons">
							<a href="{% url 'sales:editCartItem' item.product.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{% url 'sales:removeCartItem' item.product.id %}"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
					</div>
					{% endfor %}
					<div class="totals col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<div class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">${{total_price_dollars}}</span>
					</div>
					</div>
				</div>
				<div class='container'>
					{% if amount != 0 %}
						<script src="https://checkout.stripe.com/checkout.js"></script>

						<a href="{% url 'sales:home' %}" id="customButton" class="btn btn-lg btn-primary btn-block confirmation-button horizontal-center">Proceed with Charge</a>

						<script>
							var handler = StripeCheckout.configure({
								key: "{{stripe_api_key}}",
								image: "{% static 'sales/images/default.jpg' %}",
								locale: 'auto',
								token: function(token, args) {
								    $.ajax({
									    url: "{% url 'sales:charge' amount %}",
									    type: 'POST',
									    data: {'stripeToken': token.id, 'emailAddress': token.email, csrfmiddlewaretoken: '{{ csrf_token }}', 'args': args},
									    success: function(s) {
											console.log( "SUCCESS" );
											window.location.href = "{% url 'sales:chargeConfirmation' amount%}";
									    },
									    error: function(e){
									      console.log( "ERROR" );
									    }
									  });
								}
							});

							document.getElementById('customButton').addEventListener('click', function(e) {
							  handler.open({
							    name: 'Master Faster',
							    amount: {{amount}},
							    zipCode: true,
							    billingAddress: true,
							    shippingAddress: true,
							  });
							  e.preventDefault();
							});

							// Close Checkout on page navigation:
							window.addEventListener('popstate', function() {
							  handler.close();
							});
						</script>
					{% endif %}
					</div>
				<!-- </ul> -->
				</div>
			<!-- </div> -->

		<!-- </div> -->

		<!-- The popover content -->

		<!-- <div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div> -->
{% endblock content %}
{% block customjs %}
	<!-- <script src="{% static 'sales/shoppingcart.js'%}"></script> -->
{% endblock customjs %}
