{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'sales/shoppingcart.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block content %}		
		<div class="container text-center shopping-main">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>SIZE</span>
						<span>Price</span>
					</li>

					{% for item in items %}
					<li class="row">
						<span class="quantity">{{item.1.quantity}}</span>
						<!-- <span class='img'><img class="cart-img" src="{% static item.0.img_path %}"></span> -->
						<span class="itemName"><a href="{% url 'sales:itemDetail' item.1.pid %}">{{item.0.name}}</a></span>
						<span class="size">{{item.1.size}}</span>
						<span class="edit popbtn text-center">
							<div><a href="{% url 'sales:editCartItem' item.1.id %}">Edit</a></div>
							<div><a href="{% url 'sales:removeCartItem' item.1.id %}">Remove</a></div>
						</span>
						<span class="price">{{item.0.price}}</span>
					</li>
					{% endfor %}
				
					<li class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">{{total_price_dollars}}</span>
						{% if amount != 0 %}
						<span class="order">
			            		{% csrf_token %}
					            <script src="https://checkout.stripe.com/checkout.js"></script>

								<a href="{% url 'sales:home' %}" id="customButton" class="btn btn-lg btn-primary btn-block confirmation-button">Pay</a>

								<script>
									var handler = StripeCheckout.configure({
										key: "{{stripe_api_key}}",
										image: "{% static 'sales/images/default.jpg' %}",
										locale: 'auto',
										token: function(token) {
										    $.ajax({
											    url: "{% url 'sales:charge' amount %}",
											    type: 'POST',
											    data: {'stripeToken': token.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
											    success: function(s) {
													console.log( "SUCCESS" );
													window.location.href = "{% url 'sales:chargeConfirmation' amount%}";
											    },
											    error: function(e){
											      console.log( "ERROR" );
											    }
											  });
										}
									});

									document.getElementById('customButton').addEventListener('click', function(e) {
									  handler.open({
									    name: 'Master Faster',
									    description: '2 widgets',
									    amount: {{amount}}
									  });
									  e.preventDefault();
									});

									// Close Checkout on page navigation:
									window.addEventListener('popstate', function() {
									  handler.close();
									});
								</script>
							<!-- </form> -->
						</span>
						{% endif %}
					</li>
				</ul>
			</div>

		</div>

		<!-- The popover content -->

		<!-- <div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div> -->
{% endblock content %}
{% block customjs %}
	<script src="{% static 'sales/shoppingcart.js'%}"></script>
{% endblock customjs %}