{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'sales/shoppingcart.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block content %}		
		<div class="container text-center shopping-main">
			<div class="col-md-8 col-md-offset-2 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>QTY</span>
						<span>ITEM</span>
						<span>SIZE</span>
						<span>Price</span>
					</li>

					{% for item in items %}
					<li class="row">
						<span class="quantity">{{item.1.quantity}}</span>
						<!-- <span class='img'><img class="cart-img" src="{% static item.0.img_path %}"></span> -->
						<span class="itemName"><a href="{% url 'sales:itemDetail' item.1.pid %}">{{item.0.name}}</a></span>
						<span class="size">{{item.1.size}}</span>
						<span class="edit popbtn text-center">
							<div><a href="{% url 'sales:editCartItem' item.1.id %}">Edit</a></div>
							<div><a href="{% url 'sales:removeCartItem' item.1.id %}">Remove</a></div>
						</span>
						<span class="price">{{item.0.price}}</span>
					</li>
					{% endfor %}
				
					<li class="row totals">
						<span class="itemName">Total:</span>
						<span class="price">{{total_price_dollars}}</span>
						<span class="order">
							<form action="{% url 'sales:charge' amount%}" method="post">
			            		{% csrf_token %}
								<script
					                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					                data-email = {{email}}
					                data-key= {{stripe_api_key}}
					                data-amount= {{amount}}
					                data-name="Master Faster"
					                data-image="{% static 'sales/images/default.jpg' %}"
					                data-locale="auto"
					                data-zip-code="true">
					            </script>
							</form>
						</span>
					</li>
				</ul>
			</div>

		</div>

		<!-- The popover content -->

		<!-- <div id="popover" style="display: none">
			<a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
		</div> -->
{% endblock content %}
{% block customjs %}
	<script src="{% static 'sales/shoppingcart.js'%}"></script>
{% endblock customjs %}