{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MasterFaster base.html">
    <meta name="author" content="Max Schridde">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link href="{% static 'custom.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'blog/css/clean-blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    {% block customstylesheet %}
    
    {% endblock customstylesheet %}

    <title>{% block title %}Page Title{% endblock title %}</title>
</head>

<body>
    <div id="navbar">
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-img" href="{% url 'masterfaster:home' %}">
                        <img class="center-block nav-logo" src="{% static 'masterfaster/mflogo.png' %}" alt="Logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right masterfaster-navbar">
                        {% if user.is_authenticated %}
                            <li class='five-px-right' role="presentation">
                                {% block prof_img %}
                                <img class="img-circle center-block base-profile" src="{% static 'masterfaster/max.jpg' %}" alt="Prof Pic" width="40" height="40">
                                {% endblock prof_img %}
                            </li>
                        {% endif %}
                        <li class="navbar-tab" role="presentation"><a href="{% url 'blog:feed' %}">Blog</a></li>
                        <li class="navbar-tab" role="presentation"><a href="{% url 'masterfaster:videofeed' %}">Videofeed</a></li>
                        {% if user.is_authenticated %}
                        <!-- <li role="presentation"><a class="minicart" href="{% url 'sales:checkout' %}"></a></li> -->
                        <li class="navbar-tab five-px-left" role="presentation"><a href="{% url 'masterfaster:editEmailAddress' %}">Edit Profile</a></li>
                        <li class="navbar-tab" role="presentation"><a href="{% url 'masterfaster:logout' %}">Logout</a></li>
                        {% else %}
                        <li class="navbar-tab" role="presentation"><a href="{% url 'masterfaster:login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock navbar %}
    </div>

    <div id="content" class="container-fluid">
        {% block content %}

        {% endblock content %}
    </div>
    <footer>
        <div class="container home-footer">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" id="master-faster-footer">Copyright &copy; Master Faster 2017</br>Photography by Atessa Farmanfarmaian | <a href="http://www.sydneytosantacruz.com/" target="_blank">http://www.sydneytosantacruz.com</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block customjs %}
    {% endblock customjs %}
</body>
</html>