{% extends "masterfaster/base.html" %}

{% load static %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block customstylesheet %}
    <link href="{% static 'masterfaster/masterfaster.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="container">
	{% if edit_profile %}
       <form class="form-signin" method="post" action="{% url 'masterfaster:editProfile' %}">
    {% elif edit_billing %}
        <form class="form-signin" method="post" action="{% url 'masterfaster:editBillingAddress' %}">
    {% else %}
    	<form class="form-signin" method="post" action="{% url 'masterfaster:editShippingAddress' %}">
    {% endif %}
    {% csrf_token %}
    <ul class="nav nav-tabs">
        {% if edit_profile %}
        	<li role="presentation" class="active"><a href="{% url 'masterfaster:editProfile' %}">Edit Profile</a></li>
            <li role="presentation"><a href="{% url 'masterfaster:editBillingAddress' %}">Edit Billing Address</a></li>
            <li role="presentation"><a href="{% url 'masterfaster:editShippingAddress' %}">Edit Shipping Address</a></li>
        {% elif edit_billing %}
            <li role="presentation"><a href="{% url 'masterfaster:editProfile' %}">Edit Profile</a></li>
          	<li role="presentation" class="active"><a href="{% url 'masterfaster:editBillingAddress' %}">Edit Billing Address</a></li>
          	<li role="presentation"><a href="{% url 'masterfaster:editShippingAddress' %}">Edit Shipping Address</a></li>
        {% else %}
        	<li role="presentation"><a href="{% url 'masterfaster:editProfile' %}">Edit Profile</a></li>
            <li role="presentation"><a href="{% url 'masterfaster:editBillingAddress' %}">Edit Billing Address</a></li>
            <li role="presentation" class="active"><a href="{% url 'masterfaster:editShippingAddress' %}">Edit Shipping Address</a></li>
        {% endif %}
    </ul>
    <br>
    {% if edit_profile %}
    	<table>
        	{{profile_form.as_table}}
        </table>
        <h5 class="form-signin-heading"><a href="{% url 'masterfaster:password_change' %}">Change Password</a></h5>
    {% else %}
    	{% if edit_billing %}
    		<h3 class="form-signin-heading">Billing Address:</h3>
    	{% else %}
    		<h3 class="form-signin-heading">Shipping Address:</h3>
    		{% if no_billing %}
    			<h4 class="form-signin-heading">You do not have a saved billing address.</h4>
    		{% endif %}
    	{% endif %}
    	<table>
    		{{address_form.as_table}}
    	</table>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
  </form>
</div>

{% endblock content %}
