{% extends 'masterfaster/base.html' %}

{% load static %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block customstylesheet %}
    <link href="{% static 'masterfaster/masterfaster.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block title %}Edit Email Address{% endblock %}

{% block content %}

<div class="container col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1" id="edit-email-container">
    <div class="horizontal-center">
        <form class="form-signin horizontal-center" id='edit-email-form' method="post" action="{% url 'masterfaster:editEmailAddress' %}">
            {% csrf_token %}
            <div class="col-xs-8 col-xs-offset-2">
                <ul class="nav nav-tabs horizontal-center">
                    <li role="presentation" class="active"><a href="{% url 'masterfaster:editEmailAddress' %}">Edit Email</a></li>
                    <li role="presentation"><a href="{% url 'masterfaster:password_change' %}">Change Password</a></li>
                </ul>
                <br>
                <table class='horizontal-center'>
                    {{form.as_table}}
                </table>
                <button class="btn btn-lg btn-primary btn-block horizontal-center" id="edit-email-button" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
</br>
{% endblock content %}