{% extends 'masterfaster/base.html' %}

{% load static %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block customstylesheet %}
    <link href="{% static 'masterfaster/masterfaster.css' %}?{% now 'U' %}" rel="stylesheet">
{% endblock customstylesheet %}

{% block title %}Edit Email Address{% endblock %}

{% block content %}

<div class="container">

    <form class="form-signin" method="post" action="{% url 'masterfaster:editEmailAddress' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Edit Email Address</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'masterfaster:editProfile' %}">Edit Profile</a></li>
        <li role="presentation"><a href="{% url 'masterfaster:editBillingAddress' %}">Edit Billing Address</a></li>
        <li role="presentation"><a href="{% url 'masterfaster:editShippingAddress' %}">Edit Shipping Address</a></li>
    </ul>
    <br>
    <table>
        {{form.as_table}}
    </table>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
  </form>

</div>
</br>
{% endblock content %}