{% extends "masterfaster/base.html" %}

{% load static %}

{% block customstylesheet %}
    <link href="{% static 'masterfaster/masterfaster.css' %}?{% now 'U' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock customstylesheet %}

{% block title %}MasterFaster Home{% endblock %}

{% block prof_img %}
	{{img}}
{% endblock prof_img %}

{% block content %}
	<div class="logo">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<a href={% url 'masterfaster:home' %}><img class="img-rounded center-block" src="{% static 'masterfaster/mflogo.png' %}" alt="Profile Picture" width="140" height="140"></a>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<div class="home-main">
		<div class="container">
			<div class="definition-nav row col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
				<ul class="nav nav-pills nav-justified">
					<li role="presentation"><a class="headers" href="#articles">Articles</a></li>
					<li role="presentation"><a class="headers" href="{% url 'blog:feed'%}">Blog</a></li>
					<li role="presentation"><a class="headers" href="{% url 'masterfaster:videofeed'%}">Videofeed</a></li>
				</ul>
				<h1 class="featurette-heading"><strong>mas <span class="text-danger">&#9679;</span> ter   fas <span class="text-danger">&#9679;</span> ter</strong></h1>
				<h3 class="featurette-heading">/ mast&#477;r fast&#477;r / </h1>
				<h4 class="featurette-heading"><i>noun</i></h4>
				<ol>
					<li>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</li>
					<li>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</li>
				</ol>
			</div>
		</div>
	</div>

	<hr class="divider2 col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">

	<div class="container" id="articles">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 articles-main ">
			<h1 class="articles-title horizontal-center">Article Topics</h1>
			{% for topictup in topics %}
				{% if forloop.first %}
					<div class='row article-row'>
				{% elif forloop.counter0|divisibleby:3 %}
		            </div>
		            <div class='row article-row'>
	            {% endif %}
	            <div class="{{topictup.1}} horizontal-center" id="{{topictup.0.id}}">
	            	<div class="horizontal-center" id="{{topictup.0.id}}topic"><a href="{% url 'masterfaster:articles' topictup.0.id %}">{{topictup.0.topic}}</a></div>
	            	{% if topictup.2 %}
	            		<div class="horizontal-center subtopic-hide" id="{{topictup.0.id}}subtopic">
	            		{% for subtopic in topictup.3 %}
	            			<a href="{% url 'masterfaster:articles_subtopic' topictup.0.id subtopic.id %}"><em>{{subtopic.subtopic}}</em></a></br>
	            		{% endfor %}
	            		</div>
	            	{% endif %}
	            </div>
	            {% if topictup.2 %}
	            	<script>
	            		$('#{{topictup.0.id}}').hover(function() {
						        $(this).find('#{{topictup.0.id}}topic').hide();
						        $(this).find('#{{topictup.0.id}}subtopic').show();
						    }, function() {
						        $(this).find('#{{topictup.0.id}}subtopic').hide();
						        $(this).find('#{{topictup.0.id}}topic').show();
						});
					</script>
	            {% endif %}
	            {% if forloop.last %}
	            	</div>
	            {% endif %}
	            {% if forloop.last %}
	            	</div>
	            {% endif %}
	        {% endfor %}
		    </div>
		</div>
	</div>
{% endblock content %}
