{% extends 'blog/blogbase.html' %}

{% load static %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block blogcontent %}
        <header class="intro-header blog-post-header" style="background-image: url('{% static 'blog/images/leaves.jpeg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1>{{entry.title}}</h1>
                            <h2 class="subheading">{{entry.header_text}}</h2>
                            <span class="meta">{{author_img}} Posted by <a href="#">{{entry.author}}</a> on {{entry.pub_date|date:"D d M Y"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p class="blog">{{entry.text}}</p>
                    </div>
                </div>
            </div>
        </article>

        <!-- Prev Next Buttons -->
        <div class="container">
            <nav>
                <ul class="pager">
                {% if not prev_next.first %}
                    <li><a href="{%url 'blog:detail' prev_next.prev%}">Previous</a></li>
                {% endif %}
                {% if not prev_next.last %}
                    <li><a href="{%url 'blog:detail' prev_next.next%}">Next</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>

        <!-- Comments -->
        <div class="container comments-container">
            <div class="blog comments-header">{{comment_header}}</div>
            {% for comment in comments %}
                    <div class="row comment maxschridde">
                        {{comment.img}} {{comment.username}}| <em>{{comment.comment.pub_date}}</em>
                    </div>
                <div class="comment blog-comment">{{comment.comment.text}}</div>
                <hr class="comment-div">
            {% endfor %}
            {% block comment %}

            {% endblock comment %}
        </div>

        <hr>

    </div>

{% endblock blogcontent %}

{% block customjs %}
<script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'blog/js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
{% endblock customjs %}

