{% extends 'blog/blogbase.html' %}

{% load static %}

{% block prof_img %}
    {{img}}
{% endblock prof_img %}

{% block blogcontent %}
    <!-- <div class="col-md-8 col-md-offset-2 blog-main" id="comments">
        <div class="container row">
            <div class="blog-feed-prof">
                {{author_img}}
            </div>
            <div>By {{entry.author}}, {{entry.pub_date|date:"D d M Y"}}</div>
        </div>
        <hr>
        {% if entry %}
            <p><strong>{{entry.header_text}}</strong></p>
            <hr>
            <p>{{entry.text}}</p>
        {% else %}

            <h1>No Blog Post.</h1>

        {% endif %}
            <nav>
                <ul class="pager">
                {% if not prev_next.first %}
                    <li><a href="{%url 'blog:detail' prev_next.prev%}">Previous</a></li>
                {% endif %}
                {% if not prev_next.last %}
                    <li><a href="{%url 'blog:detail' prev_next.next%}">Next</a></li>
                {% endif %}
                </ul>
            </nav>
        
        <ul class="list-inline">
            <li>{{comments.length}} Comments</li>
        </ul>
        <hr class="divider"> -->
        <header class="intro-header blog-post-header" style="background-image: url('{% static 'blog/images/post-bg.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-heading">
                            <h1>{{entry.title}}</h1>
                            <h2 class="subheading">{{entry.header_text}}</h2>
                            <span class="meta">Posted by <a href="#">{{entry.author}}</a> on {{entry.pub_date|date:"D d M Y"}}</span>
                            <span>{{author_img}}</span>
                            <!-- <div class="row">
                                <span>{{author_img}}</span>
                                <span class="meta">Posted by <a href="#">{{entry.author}}</a> on {{entry.pub_date|date:"D d M Y"}}</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Post Content -->
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p class="blog">{{entry.text}}</p>
                    </div>
                </div>
            </div>
        </article>

        <hr>

        <nav>
            <ul class="pager">
            {% if not prev_next.first %}
                <li><a href="{%url 'blog:detail' prev_next.prev%}">Previous</a></li>
            {% endif %}
            {% if not prev_next.last %}
                <li><a href="{%url 'blog:detail' prev_next.next%}">Next</a></li>
            {% endif %}
            </ul>
        </nav>
        
        <ul class="list-inline">
            <li>{{comments.length}} Comments</li>
        </ul>


        {% for comment in comments %}
        <div class="row comment">
            {{comment.2}}
            {{comment.1}}
            {{comment.0.pub_date|date:"M"}} {{comment.0.pub_date|date:"d"}}, {{comment.0.pub_date|date:"Y"}}
        </div>
        {% endfor %}

        {% block comment %}

        {% endblock comment %}

    </div>

{% endblock blogcontent %}

{% block customjs %}
<script src="{% static 'blog/js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'blog/js/contact_me.js' %}"></script>

<!-- Theme JavaScript -->
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
{% endblock customjs %}

