{% extends 'masterfaster/base.html' %}

{% load static %}

{% block customstylesheet %}

    <!-- <link href="{% static 'blog/blog.css' %}?{% now 'U' %}" rel="stylesheet"> -->
    <link href="{% static 'blog/css/clean-blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

{% endblock customstylesheet %}

{% block content %}

    {% block blogcontent %}

    {% endblock blogcontent %}

    {% block sidebarcontent %}

    {% endblock sidebarcontent %}

{% endblock content %}

