/* navbar */
.navbar-default {
    /*background-color: #F8F8F8;*/
    background-color: lightgrey;
    border-color: lightgrey;
    opacity: .85;
}
/* Title */
/*.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}*/
/* Link */
.navbar-default .navbar-nav > li > a {
    /*color: #777;*/
    color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: black;
    opacity: 1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: orange;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
/*.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}*/
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: black;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    /*color: black;*/
}
/*@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}*/
/*=========*/

a.logo-img{
  margin-top: 0px;
  padding-top: 0px;
}
.logo{
	margin: 20px 0;
}
.nav-logo{
  /*margin-top: 10px;
  margin-left: 10px;*/
  /*margin-top: 5px;*/
  /*margin-left: 5px;*/
  padding-top: 0px;
  height: 50px;
}
.base-profile{
	margin-top: 5px;
}
.five-px-right{
  margin-right: 5px;
}
.five-px-left{
  margin-left: 5px;
}
#signin, #create-user{
  border-radius: 15px;
  max-width: 300px;
}

#content{
  margin-top: 50px;
}
li.navbar-tab{
  /*background-color: red;*/
  height: 100%;
  margin-bottom: 0px;
}
.navbar-tab:hover{
  background-color: white;
}
.navbar-tab{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.navbar-tab:hover{
  background-color: grey;
}
.masterfaster-navbar{
  margin-right: 10px;
}

.navbar-default {
   margin-bottom: 0;
   padding-right: 15px;
   padding-left: 15px;
}
.navbar-collapse{
	text-align: center;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1300px;
}

.divider{
	margin: 1px 0;
}
.divider2{
  border-color: black;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*shopping cart image*/
.minicart{
  background: url('sales/images/cart.png') no-repeat;
  height: 30px;
  width: 38px;
  margin: 0 3px;
}
a.minicart{
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.team-img{
  border: 1px solid black;
}

/*Login Form*/

.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}